<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css">    
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/all_decks.css">
    <title>Flasheeta</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
	<a id="decks" href="decks.html">Decks</a>
	<a id="new_flashcard" href="new_flashcard.html">New Flashcard</a>
	<a id="profile" href="profile.html">Profile</a>
      </nav>
    </header>
    <div class="parent">
      <button class="deck">English</button>
      <button class="deck">German</button>
      <button class="deck">Science</button>
      <button class="deck">History</button>
      <button class="deck">Tech terms</button>
      <button class="deck">Chemistry</button>
    </div>
  </body>
</html>
