.flashcard {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 450px;
}

.flashcard p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}

.flashcard button {
  border: 3px solid #000000;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.flashcard button.show_answer {
  background-color: #63cf94; 
}
.flashcard button.main:hover {
  background-color: #52b47a;
}
.flashcard button.delete, button.edit {
  width: 100px;
  background-color: #F5F5F5;
}

.flashcard .rating, .actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating .again {
  color: #FF0000;
}
.rating .hard {
  color: #800080;
}
.rating .good {
  color: #008000;
}
.rating .easy {
  color: #0000FF;
}
.parent p {
 font-size: 16px; 
 line-height: 1.5;
  margin-top: 100px;
}