<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/auth_common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Flasheeta</title>
  </head>

  <body>
    <form method='POST' action='/auth/login'>
      {{ form.hidden_tag() }}
      <div class="form-group">
	{{ form.username.label }} {{ form.username() }}
	
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
	  {% for message in messages %}
	  <li>{{ message }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<br>
	<br>
      </div>
      <div class="form-actions">
	{{ form.submit() }}
      </div>
    </form>
    <div class="register">
      <p>If you are a new user please register here:</p>
      <a href="{{ url_for('auth.register') }}">Register Now</a>
    </div>
    
  </body>
